/* css */

/* Universals! */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {

/* Variables section! */

    --dark-blue: #1f2937; 
        /* Used for background color (hero and footer), information header text color and quote text color */
    --white: #F9FAF8;
        /* hero main text color "this website is awesome", and also the hero logo text color */
    --off-white: #E5E7EB;
        /* hero secondary text color, as well as quote section background color */
    --light-blue: #3882F6;
        /* Used for the button and the call to action background color */

/* Font! */

    font-family: 'Roboto', 'Times New Roman', Times, serif;

    box-sizing: border-box;

    flex-direction: column;
    padding:0;
    margin:0;
    
}
ul {
    list-style: none;
    padding:0;
    margin:0;
    gap: 15px;
}
a {
    text-decoration: none;
}

p {
    padding:0;
    margin:0;
}

/* Flex display area! */

body,
header,
.top,
.top ul,
.information-area,
.information-container,
.hero-area,
.wrapper,
.quote-area,
footer,
.call2action,
.c2acontainer,
.c2a-text-container
 {
    display:flex;
}


/* Colors area */

header,
footer {
    background-color: var(--dark-blue);
}

.logo,
.hero-text {
    color: var(--white);
}
.secondary-hero-text,
a {
    color: var(--off-white);
}
.image-placeholder {
    color: var(--white);
    background-color: rgb(125, 129, 134);
}
button {
    background-color: var(--light-blue);
}

.wrapper {
    flex-direction:column;
    justify-content: center;
    padding:0;
    margin:0;
}

.quote-area {
    background-color: var(--off-white);
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: 300;
}

/* Header area */

header {
    min-height: 350px;
    flex-direction: column;
    justify-content: space-between;
    padding:0 150px 150px;
    align-items: stretch;
    padding-top:10px;
}
.top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: 700;
}
.hero-area {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex:0 0 1;
    gap:10px;
    flex-wrap: wrap;
}
.hero-item {
    flex:1 1 0;
    align-content: center;
    
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
}
.image-placeholder {
    text-align: center;
    align-self: center;
    height:200px;
    flex-basis:500px;
    flex-grow: 0;
    flex-shrink: 0;
}
button {
    margin-top:10px;
    padding:10px;
    min-width: 120px;
    color:var(--white);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    font-size:16px;
    font-weight: 700;
}


/* Information Area */

.information-area {
    min-height: 25vh;
    padding: 0 100px 100px;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--dark-blue);
    
}

.information-area h1 {
    text-align: center;
    padding:20px;

}

.information-container {
    flex-direction:row;  
    justify-content: center;
    gap:50px;
}

.info-image {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 0;
    gap:20px;
    color:var(--dark-blue);
}
.info-image img {
    border: solid .3rem var(--light-blue);
    min-width: 150px;
    min-height: 150px;
    border-radius: 12px;
}

/* Quote area */

.quote-area {
    min-height:200px;
    flex-direction: column;
    padding:100px;
    align-items: center;
    justify-content: center;
}

.quote,
.author {
    flex:1 1 auto;
    padding-left:150px;
    padding-right:150px;
}

.author {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
    font-weight: 500;
    font-size: 25px;
    padding-right: 180px;
}

/* Call to action */

.call2action {
    min-height: 320px;
    min-width: 800px;
    justify-content: center;
    align-items: center;
    padding-left:150px;
    padding-right:150px;

}
.c2acontainer {
    min-height:50px;
    justify-content: space-around;
    background-color: var(--light-blue);
    color:var(--white);
    border-radius: 14px;
    padding:50px;
    gap:10px;
    flex:1 1 0;
}

.c2a-text-container {
    flex-direction: column;
    gap:5px;
}
.pstrong {
    font-weight: 800;
    font-size: 24px;
}

.call2action button.sign-up {
    border:var(--white) 2px solid;
}

/* Footer */

footer {
    min-height: 100px;
    color: var(--white);
    text-align: center;
    justify-content: center;
    align-items: center;
}